<aside class="sidebar">
  <div class="sidebar__header">
    <img src="assets/images/sidebar_header.jpg" alt="">
  </div>
  <div class="sidebar__content">
    <div class="profile">
      <img class="profile__avatar" src="assets/images/marseille.jpg" alt="">
      <div class="profile__name">kanemaru</div>
      <div class="profile__prof">Блог фронтенд-разработчика.</div>
    </div>

    <ul class="social">
      <li class="social__item">
        <a class="social__link" href="https://www.instagram.com/chaopses" target="_blank">
          <img src="assets/images/instagram.svg" alt="inst: chaopses"></a>
      </li>
      <li class="social__item">
        <a class="social__link" href="https://vk.com/id471985558" target="_blank">
          <img src="assets/images/vk.svg" alt="vk: kontrval"></a>
      </li>
      <li class="social__item">
        <a class="social__link" href="https://t.me/marseille_sh" target="_blank">
          <img src="assets/images/telegram.svg" alt="telegram: marseille_sh"></a>
      </li>
    </ul>
    <div class="profile__text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vitae consequatur illo accusamus. Minus sunt voluptates omnis neque ad illo? Quam, obcaecati? Voluptate suscipit expedita voluptates commodi sapiente aliquam reiciendis nulla atque dignissimos? Error minus sit itaque blanditiis temporibus consequatur modi aperiam saepe dolorem autem, quibusdam quos quasi qui dolores!</p>
    </div> <!--/.profile-->
  </div> <!--/.sidebar__content-->
  <div class="sidebar__footer">
    <a class="btn btn--red" href="#">Мои работы</a>
    <button class="btn btn--blue" type="button">Написать мне</button>
  </div> <!--/.sidebar__footer-->
</aside>