<aside class="sidebar">
  <div class="sidebar__header">
    <img src="assets/images/sidebar_header.jpg" alt="">
  </div>
  <div class="sidebar__content">
    <div class="profile">
      <img class="profile__avatar" src="assets/images/marseille.jpg" alt="">
      <div class="profile__name">kanemaru</div>
      <div class="profile__prof">Блог фронтенд-разработчика.</div>
    </div>

    <ul class="social">
      <li class="social__item">
        <a class="social__link" href="https://www.instagram.com/chaopses" target="_blank">
          <img src="assets/images/instagram.svg" alt="inst: chaopses"></a>
      </li>
      <li class="social__item">
        <a class="social__link" href="https://vk.com/id471985558" target="_blank">
          <img src="assets/images/vk.svg" alt="vk: kontrval"></a>
      </li>
      <li class="social__item">
        <a class="social__link" href="https://t.me/marseille_sh" target="_blank">
          <img src="assets/images/telegram.svg" alt="telegram: marseille_sh"></a>
      </li>
    </ul>
    <div class="profile__text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quia nulla reiciendis vitae, ad quis! Perspiciatis rem eaque obcaecati dicta?</p>
    </div> <!--/.profile-->
  </div> <!--/.sidebar__content-->
  <div class="sidebar__footer">
    <a class="btn btn--red" href="#">Мои работы</a>
    <button class="btn btn--blue" type="button">Написать мне</button>
  </div> <!--/.sidebar__footer-->
</aside>